.column {
    display: flex;
    margin:0;
    width: 46%;
    padding: 2%;
    float: left;
}
.container {
    display: block;
    margin: 10%;
    color: darkslategrey;
}
.task-form {
    margin: 40px;
}

body{
    background-image: url('bgr.jpg');
    background-position: bottom;
}